<form name="test" action="/test/create" method="post">
    <input type="text" name="testname" placeholder="Nazwa testu">
    <br>
    <textarea name="testdescription" maxlength="255" placeholder="Opis"></textarea>
    <br>
    <input type="submit" value="Utwórz test">
</form>