{{#each tests.[0]}}
    <div class="test-title">
        <div class="title">
            <h2>
                {{this.name}}
            </h2>
            <h3>
                {{this.firstname}}
                {{this.lastname }}
            </h3>
        </div>
        <a href="/test/{{this.idTest}}">
            <span class="btn">
                Rozpocznij
            </span>
        </a>
    </div>
{{/each}}