
            <div class="test-title">
                <div class="title">
                    <h2>
                        Wprowadzenie do JavaScript
                    </h2>
                    <h3>
                        {{users}}
                        {{users.firstname}}
                        {{users.lastname }}
                    </h3>
                </div>
                <span class="btn">
                    Rozpocznij
                </span>
            </div>
            <div class="test-title">
                <div class="title">
                    <h2>
                        Pracownia Aplikacji Internetowych
                    </h2>
                    <h3>
                        Wprowadzenie do JavaScript
                    </h3>
                </div>
                <span class="btn">
                    Rozpocznij
                </span>
            </div>
            <div class="test-title">
                <div class="title">
                    <h2>
                        Pracownia Aplikacji Internetowych
                    </h2>
                    <h3>
                        Wprowadzenie do JavaScript
                    </h3>
                </div>
                <span class="btn">
                    Rozpocznij
                </span>
            </div>
            <div class="test-title">
                <div class="title">
                    <h2>
                        Pracownia Aplikacji Internetowych
                    </h2>
                    <h3>
                        Wprowadzenie do JavaScript
                    </h3>
                </div>
                <span class="btn">
                    Rozpocznij
                </span>
            </div>
        