<div class="sign-in-form">
    <form id="signin" name="signin" method="post" action="signin">
        <h1>Zaloguj się</h1>
        <input type="text" name="email" placeholder="Adres E-mail">
        <input type="password" name="password" placeholder="Hasło">
        <input type="submit" value="ZALOGUJ SIĘ" class="button">
    </form>
</div>