<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scholae App</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <div class="box">
        <header>
            <span>
                <h3>
                    <a href="/dashboard">ScholaeApp</a>
                </h3>
             </span>
            <nav>
                <a href="/test/create">Utwórz test</a>
                <a href="/test/list">Lista testów</a>
                <a href="/logout">Wyloguj</a>
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            &copy; Copyright 2018 mrekli
        </footer>
    </div>
</body>
</html>