<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/css/sign.css">
</head>
<body>
    <div class="container-custom">
        {{{ body }}}
    </div>
</body>
</html>